:root {
  --primary:#339989; 
  --dark: #2B2C28;
  --shadow:#27756a;
  --lightest:#FFFAFB;
  --charcoal:#36454f ;

}
/* https://coolors.co/palette/131515-2b2c28-339989-7de2d1-fffafb */
/* pallete */

body {
  background-color: var(--dark);
}

.navbar-container{
height: 100px; 
}

.container {
  background-color: var(--primary);
  box-shadow: 50px 100px 100px 100px black;
  border-radius: 25px;
  border:15px groove black;
}

.nav-item {
  color:var(--lightest);
}

/* .screenshots-column {
  border-left: 6px solid black;
} */

#avatar{
height: 350px;
}

.screenshots-column{
  border-left: ridge black 5px;
}

.screenshots-column p, h3, a{
 color:var(--lightest); 
 font-size: 20px;
 text-align: justify; 
 text-shadow: 4px 4px 4px var(--dark);
 line-height: 1.4;
}

.screenshots-column a{
  text-align: justify;
}

.screenshots-column h3{
  text-align: center; 
}

.screenshots-column h4{
  text-align: center; 
  font-size: 26px;
  text-decoration:underline var(--dark);
  text-shadow: 1.5px 1.5px 1.5px var(--dark);
}

.screenshots-column img{
box-shadow: 10px 10px 10px var(--dark);
margin-bottom: 15px;
border-radius:35px;
}

.bio{
  text-shadow: 4px 4px 4px var(--dark);
  color:var(--lightest); 
  font-size: 20px;
  text-align: left; 
}

#bio-div{
  background-color: var(--charcoal);
  align-items: center;
}

.work-div{
  border-bottom: 10px solid var(--shadow);
  text-align: center;
  padding-bottom: 15px;
}

.avatar-image-div{
  align-items: center;
}